/* globals */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

/* image styles */
.car{
    width: 100%;
    object-fit: contain;
}
.car-image-container{
    margin: 0 auto;
    width: 62%;
    height: 100vh;
}

/* styles for car stat */
.car-stat{
    display: flex;
    justify-content: space-between;
    margin: 0 32px;
}
.speed-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.speedometer{
    font-size: 50px;
}
.gas-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 24px;
}
.gas-litre-count{
    font-size: 35px;
}
.gas-unit{
    font-size: 10px;
}
.gas-bar-outline{
    width: 50px;
    height: 5px;
    border: 1px solid #9EA3AF;
    border-radius: 2px;
    margin-top: 6px;
}
.gas-bar{
    background-color: #3CA24C;
    width: 60%;
    height: 3px;
}

/* dashboard styles */
.dash-board{
    position: absolute;
    top: 385px;
    right: 481px;
    height: 212px;
    width: 766px;
}
.start-dash-board-container{
    position: absolute;
    bottom: 40px;
    left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
}
.start-heading,.start-text{
    color: #fff;
}
.start-heading{
    font-weight: 500;
}
.start-text{
    font-weight: 500;
    font-style: italic;
}
.steering-container img{
    position: absolute;
    bottom: -73px;
    right: 32px;
    width: 30%;
}
.time-container{
    display: flex;
    justify-content: space-between;
}
.current-time{
    margin: 24px 30px;
    font-size: 18px;
    
}
.wish{
    margin-top: 18px;
    margin-left: -40px;
    font-weight: 200;
    font-style: italic;
}
.weather-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dash-board-display{
    display: none;
    color: #D6DCDD;
}
.weather-container{
    margin-right: 30px;
    margin-top: 18px;
}
.weather-status{
    font-size: 6px;   
}


/* css for generic button and other button styles */
.btn{
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 70px;
    width: 70px;
    border-radius: 100%;
   background-color: #000;
}
.power-on-btn{ 
    border: 5px solid #39BF03;
    color: #39BF03;
    top: 40px;
    left: 350px;
}
/* Styles for Car Controls */
.car-controls{
    display: none;
    position: absolute;
    bottom: 0;
    width: 1065px;
    height: 245px;
    /* background-color: red; */
    padding-left: 40px;
    padding-right: 40px;
}
button{
    background-color: #3D5F67;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    margin: 10px;
    border: 5px solid #4C6F7B;
    padding: 10px;
}
.power-button {
    font-size: 30px;
    color: #C84001;
    border-color: #C84001;
    background-color: #14151B;
}
.electrical-controls{
    display: flex;
    justify-content: space-between;
}
.mechanical-controls{
    display: flex;
    justify-content: space-between;
}
img{
    width: 100%;
}
.clicked{
    border: 5px solid #FBFE7B;
    color: #FBFE7B;
}

.wrap{
    position: absolute;
    top: 286px;
    left: 699px;
    width: 318px;
    z-index: 1;
    height: 98px;
    background: #07565D;
    overflow: hidden;
}
.road{
    width: 30px;
    height: 300px;
    margin: auto;
}
.line div{
    width: 30px;
    height: 150px;
    margin-bottom: 80px;
    background: #fff;
}
